@import url("index.css");

div[fancy-box] {
  box-sizing: border-box;
  border: 5px dashed #ffffff;
  width: inherit;
  width: 480px;
  height: 60px;
  text-align: center;
  margin: auto;
}

main {
  padding: 20% 0;
}

body {
  overflow: hidden;
}
