@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
div[fancy-box] {
  box-sizing: border-box;
  border: 5px dashed #ffffff;
  width: inherit;
  width: 480px;
  height: 60px;
  text-align: center;
  margin: auto;
}

main {
  padding: 20% 0;
}

body {
  overflow: hidden;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

.text {
  color: #ffffff;
}
